# This file is used to ignore files which are generated

# ----------------------------------------------------------------------------

# Binaries
# --------
*.dll
*.exe

#Qt

*.user
*qmake.stash

#CLion
.idea
*.txt
**cmake-build-debug*